{%extends 'landing/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row  mt-5">
        <div class = "col-md-5 col-sm-6 ">
            <a href="{% url 'post-detail' object.pk %}" class = "btn btm-dark">Back to post</a>
        </div>
    </div>


    <div class="row justify-content-center mt-3 mb-5">
        <div class = "col-md-5 col-sm-12 border-bottom"><h5>Are you sure?</h5>
            <p>you are about to delete the comment, this can not be undone.</p>
            <form method="POST">
                {% csrf_token %}

                <div class ="d-grid gap-2">
                    <button type="submit" class="btn btn-danger mt-3">Delete</button>  
                </div>
            </form>
            
            
        </div>
    </div>
</div>
{% endblock content %}